apiVersion: v1
name: ht-fe
description: ht-fe chart that runs on kubernetes
version: {{ getenv "VERSION" }}
keywords:
  - ht-fe
  - kubernetes
home: https://github.com/aliartiza75/ht-fe
maintainers:
- name: Irtiza Ali
  email: aliartiza75@yahoo.com

