<!DOCTYPE html>
<html lang="en-GB">
<head>
    <title>Github Navigator</title>
</head>
<body>
    <!-- Get datetime start -->
    <form action="/datetime" method="get">
        <button type="submit">Get Date</button>
    </form>
    <!-- END -->

    <!-- move to index page start -->
    <form action="/" method="get">
        <button type="submit">Back</button>
    </form>
    <!-- END -->

    <!-- check if result object is not none -->
    {% if result != None %}
    <h1>{{ result.datetime}}</h1>
    {% endif %}
    <!-- END -->
</body>
</html>